### This file takes in USDA and EDDI dataset and analyses the two in relation to each other

In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
# Importing Corn NY data
ny_corn = pd.read_csv('../../datasets/Corn-NY-All.csv')

In [35]:
# Importing EDDI datasets
EDDI_ETrs_01mn_20000101 = np.loadtxt\
('../../../../../../../Google Drive/My Drive/Capstone private/EDDI/2000/EDDI_ETrs_01mn_20000101.asc', skiprows=6)
EDDI_ETrs_01mn_20000102 = np.loadtxt\
('../../../../../../../Google Drive/My Drive/Capstone private/EDDI/2000/EDDI_ETrs_01mn_20000102.asc', skiprows=6)

In [6]:
# Setting display options to ensure rows and columns are visible as expected
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [8]:
ny_corn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21706 entries, 0 to 21705
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Program           21706 non-null  object
 1   Year              21706 non-null  int64
 2   Period            21706 non-null  object
 3   Week Ending       0 non-null      float64
 4   Geo Level         21706 non-null  object
 5   State             21706 non-null  object
 6   State ANSI        21706 non-null  int64
 7   Ag District       21706 non-null  object
 8   Ag District Code  21706 non-null  int64
 9   County            21706 non-null  object
 10  County ANSI       21081 non-null  float64
 11  Zip Code          0 non-null      float64
 12  Region            0 non-null      float64
 13  watershed_code    21706 non-null  int64
 14  Watershed         0 non-null      float64
 15  Commodity         21706 non-null  object
 16  Data Item         21706 non-null  object
 17  Domain            21706 non-null  object
 18  Domain Category   21706 non-null  object
 19  Value             21706 non-null  object
 20  CV (%)            2045 non-null   object
dtypes: float64(5), int64(4), object(12)
memory usage: 3.5+ MB

In [9]:
ny_corn.head()

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,County ANSI,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,CENSUS,2017,YEAR,NaN,COUNTY,NEW YORK,36,CENTRAL,50,CAYUGA,11.0,NaN,NaN,0,NaN,CORN,CORN - OPERATIONS WITH SALES,TOTAL,NOT SPECIFIED,260,24.2
1,CENSUS,2017,YEAR,NaN,COUNTY,NEW YORK,36,CENTRAL,50,CAYUGA,11.0,NaN,NaN,0,NaN,CORN,"CORN - SALES, MEASURED IN $",TOTAL,NOT SPECIFIED,"23,218,000",11.7
2,CENSUS,2017,YEAR,NaN,COUNTY,NEW YORK,36,CENTRAL,50,CAYUGA,11.0,NaN,NaN,0,NaN,CORN,"CORN, GRAIN - ACRES HARVESTED",TOTAL,NOT SPECIFIED,"27,223",12.4
3,CENSUS,2017,YEAR,NaN,COUNTY,NEW YORK,36,CENTRAL,50,CAYUGA,11.0,NaN,NaN,0,NaN,CORN,"CORN, GRAIN - OPERATIONS WITH AREA HARVESTED",AREA HARVESTED,"AREA HARVESTED: (1,000 OR MORE ACRES)",3,9.2
4,CENSUS,2017,YEAR,NaN,COUNTY,NEW YORK,36,CENTRAL,50,CAYUGA,11.0,NaN,NaN,0,NaN,CORN,"CORN, GRAIN - OPERATIONS WITH AREA HARVESTED",AREA HARVESTED,AREA HARVESTED: (1.0 TO 24.9 ACRES),63,43.9

In [25]:
min(ny_corn['Year'])

1972

In [26]:
max(ny_corn['Year'])

2019

In [38]:
EDDI_ETrs_01mn_20000101.shape

(224, 464)

In [28]:
# plt.plot(ny_corn['Year'][ny_corn['Year'] >= 2000], ny_corn['Value'][ny_corn['Year'] >= 2000])

In [31]:
len(EDDI_ETrs_01mn_20000101)

224

In [39]:
EDDI_ETrs_01mn_20000102.shape

(224, 464)

In [40]:
# monthly aggregated EDDI sample
EDDI_ETrs_01mn_20000102

array([[ 1.13468778e+00,  1.01187325e+00,  1.01187325e+00, ...,
         2.43829846e-01,  2.43829846e-01,  1.73359394e-01],
       [ 1.13468778e+00,  1.01187325e+00,  1.01187325e+00, ...,
         1.03782177e-01,  1.73359394e-01,  3.15570116e-01],
       [ 1.27750206e+00,  1.13468778e+00,  1.13468778e+00, ...,
         3.15570116e-01,  3.89005065e-01,  3.15570116e-01],
       ...,
       [-9.99900000e+03, -9.99900000e+03, -9.99900000e+03, ...,
        -9.99900000e+03, -9.99900000e+03, -9.99900000e+03],
       [-9.99900000e+03, -9.99900000e+03, -9.99900000e+03, ...,
        -9.99900000e+03, -9.99900000e+03, -9.99900000e+03],
       [-9.99900000e+03, -9.99900000e+03, -9.99900000e+03, ...,
        -9.99900000e+03, -9.99900000e+03, -9.99900000e+03]])